.hero{
    margin: 0px 120px;
    margin-top: 270px;
}
.hero-text{
    color: #fff;
    font-size: 110px;
    font-weight: 500;
    line-height: 130px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 40px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px ;
    padding-left: 30px;
    border-radius: 60px;
    background-color: #fff;
    cursor: pointer;
}
.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    background-color: #fff;
    cursor: pointer;
}
.hero-dot.orange{
    background-color: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
   margin-bottom: 0 ;
   padding-bottom: 50px;
   padding-right: 50px;
}
.hero-play p{
    color: #fff;
    font-size: 19px;
   
}